.modal-air {
    position: absolute;
    top: 6.5rem;
    right: 2rem;
    height: 52rem;
    width: 25rem;
    display: flex;
    flex-direction: column;

    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    animation: slide-enter 0.5s ease forwards;
}

.modal-air .button {
    position: absolute;
    top: 5px;
    left: 3px;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;

    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.modal-air .button:hover {
    color: red;
}

/* 모달이 처음 등장할 때의 애니메이션 */
@keyframes slide-enter {
    0% {
        transform: translateX(1rem);
        opacity: 0;
    }
    50% {
        transform: translateX(-1rem);
        opacity: 0.7;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
