.card-fli {
    height: 13rem;
    width: 10rem;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    // animation: card-immerge 0.5s ease forwards;
    transition: width 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
    gap: 0.5rem;
    cursor: pointer;
}
.card-fli:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.card-fli .title {
    height: 2rem;
    font-size: 1.5rem;
    font-family: "NotoSansKR-ExtraBold";
    text-align: center;
    transition: font-size 0.5s ease;
}
.card-fli .subtitle {
    height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    transition: font-size 0.5s ease;
}
.card-fli .detail {
    height: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.card-fli .image {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-fli .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-fli-small {
    height: 13rem;
    width: 7.5rem;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: width 0.2s ease, transform 0.3s ease, box-shadow 0.3s ease;
    gap: 0.5rem;
    cursor: pointer;
}
.card-fli-small:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.card-fli-small .title {
    height: 2rem;
    font-size: 1.3rem;
    font-family: "NotoSansKR-ExtraBold";
    text-align: center;
    transition: font-size 0.2s ease;
}
.card-fli-small .subtitle {
    height: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    transition: font-size 0.2s ease;
}
.card-fli-small .detail {
    height: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.card-fli-small .image {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-fli-small .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
