.acc-address {
    height: 5rem;
    width: 23rem;
    background: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.acc-address .top {
    height: 2rem;
    width: 23rem;
    border-radius: 1rem 1rem 0rem 0rem;
    font-size: 1rem;
    align-items: start;
    background: #e34343;
}

.acc-address .top .title {
    height: 2rem;
    width: 23rem;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
}
.acc-address .details {
    height: 1rem;
    font-size: 1rem;
    margin: 1rem;
    font-weight: bold;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
