.app-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
}

.left-panel {
    height: 95vh;
    width: 30%;
    margin: 1rem;
    background-color: gray;
}

.right-panel {
    height: 95vh;
    width: 70%;
    margin: 1rem;
    background-color: gray;
}
