.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 100%;
    display: flex;
}

.left-panel {
    width: 30%;
    background-color: gray;
}

.right-panel {
    width: 70%;
    background-color: gray;
}
