.card-dir {
    height: 2rem;
    width: 11rem;
    padding: 0.5rem;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    // animation: card-immerge 0.5s ease forwards;
    transition: width 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.card-dir:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.card-dir .detail {
    height: 1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: margin 0.5s ease;
}
.card-dir .image {
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 0.5s ease;
}

.card-dir-small {
    height: 2rem;
    width: 8.5rem;
    padding: 0.5rem;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: width 0.2s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.card-dir-small:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.card-dir-small .detail {
    height: 1rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: margin 0.2s ease;
}
.card-dir-small .image {
    height: 2rem;
    width: 2rem;
    margin-left: 0.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 0.2s ease;
}
