.schedule-container {
    height: 40rem;
    width: fit-content;
    padding: 0 1rem 0.5rem 1rem;
    margin: 1rem 0 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(to bottom, #d7eeff, #f2f2f2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

    header {
        height: 3.5rem;
        padding-left: 0.3rem;
        font-family: "NotoSansKR-ExtraBold";
        font-size: 2.5rem;
        text-align: start;
    }

    .buttons {
        height: 2.5rem;
        padding-left: 0.3rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: flex-end;

        .day-button {
            margin-bottom: 0.2rem;
            font-family: "NotoSansKR-ExtraBold";
            font-size: 1.4rem;
            cursor: pointer;
            transition: font-size 0.1s ease, margin 0.1s ease;
        }

        .day-button-selected {
            font-family: "NotoSansKR-ExtraBold";
            font-size: 2rem;
            cursor: pointer;
            transition: font-size 0.1s ease, margin 0.1s ease;
        }
    }

    .options {
        height: 8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        animation: card-bounce 0.5s ease forwards;
    }

    .options-dir {
        height: 4.5rem;
        margin-left: 6rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        animation: card-bounce 0.5s ease forwards;
    }

    .options-loading {
        height: 4.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        animation: card-bounce 0.5s ease forwards;
    }
}

@keyframes card-bounce {
    0% {
        transform: translateY(0.5rem);
        opacity: 0;
    }
    50% {
        transform: translateY(-0.5rem);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}
