.card-sch {
    height: 6rem;
    width: 11rem;
    padding: 0rem 0.5rem 1rem 0.5rem;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    // animation: card-immerge 0.5s ease forwards;
    transition: width 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.card-sch:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.card-sch .title {
    height: 2rem;
    margin: 0.5rem 0 0 0;
    font-size: 0.9rem;
    font-family: "NotoSansKR-ExtraBold";
    transition: font-size 0.5s ease;

    display: flex;
    align-items: center;
}
.card-sch .details {
    height: 3rem;
    font-size: 0.8rem;
    text-align: center;
    transition: opacity 0.2s ease 0.3s;
}
.card-sch .details-icon {
    height: 0rem;
    font-size: 0rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}
.card-sch .image {
    height: 8rem;
    width: 12rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem 1rem 0rem 0rem;
    transition: width 0.5s ease;
}
.card-sch .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-sch-small {
    height: 6rem;
    width: 8.5rem;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: width 0.2s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.card-sch-small:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.card-sch-small .title {
    height: 2rem;
    margin: 0.5rem 0 0 0;
    font-size: 0.9rem;
    font-family: "NotoSansKR-ExtraBold";
    text-align: center;
    transition: font-size 0.2s ease;
}
.card-sch-small .details {
    height: 0rem;
    font-size: 0rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease 0.4s;
}
.card-sch-small .details-icon {
    height: 4rem;
    font-size: 2rem;
    transition: opacity 0.1s ease 0s;
    display: flex;
    align-items: center;
}
.card-sch-small .image {
    height: 8rem;
    width: 9.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem 1rem 0rem 0rem;
    transition: width 0.2s ease;
}
.card-sch-small .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes opacity-fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
