@font-face {
    font-family: "NotoSansKR-Light";
    src: url("./fonts/NotoSansKR-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "NotoSansKR-Regular";
    src: url("./fonts/NotoSansKR-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "NotoSansKR-Medium";
    src: url("./fonts/NotoSansKR-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "NotoSansKR-SemiBold";
    src: url("./fonts/NotoSansKR-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "NotoSansKR-Bold";
    src: url("./fonts/NotoSansKR-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "NotoSansKR-ExtraBold";
    src: url("./fonts/NotoSansKR-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
